@import '../../Vars';

.contact {
  max-width: 1550px;
  margin: auto;
}

img {
  width: 85px;
  height: 85px;
}

.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  font-family: $poppins;
  margin: 40px 3%;
  color: white;

  .itemSection {
    .itemTitle {
      font-weight: 700;
      font-size: 20px;
    }

    .itemLink {
      font-weight: 400;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

}


@media (max-width: $md) {

  img {
    width: 75px;
    height: 75px;
  }

  .contactSection {
    flex-direction: column;
    align-items: center;

    .itemSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;

      .itemTitle {
        font-size: 19px;
      }

      .itemLink {
        font-weight: 400;
        font-size: 17px;
      }
    }
  }



}

@media (max-width: $sm) {

  img {
    width: 65px;
    height: 65px;
  }

  .contactSection {
    .itemSection {
      .itemTitle {
        font-size: 18px;
      }

      .itemLink {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }


}

